@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

nav {
    position: relative;
    transform: rotateX(65deg) rotateY(0deg) rotateZ(-45deg);
    width: 200px;
    height: 200px;
}

* {
    box-sizing: border-box;
}
     
.main { 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    #up,#bottom {
        top: 18px;
        left: -18px;
    }
       
    #right,#left {
        top: 38px;
        left: -38px;
    }
       
    #up.opened {
        top: -100%;
        left: 0;
    }
       
    #right.opened {
        left: 140%;
        top: 0;
    }
       
    #bottom.opened {
        top: 100%;
        left: 0;
    }
       
    #left.opened {
       left: -140%;
       top: 0;
    }
}
   
#center {   
    position: absolute;
    z-index: 5;
    background-color: #ffc107;
    transition: 0.25s;
    animation: float_nav 1s infinite;

    .icon {   
        padding: 40px 0px;
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
        
        .menu {
            height: 15px;
            width: 50%;
            background-color: #000000;
        }
    }
}
  
.btn {
    width: 200px;   
    height: 200px;
}
   
.btn.item {
    position: absolute;
    top: 0;
    z-index: 1;
    transition: all 0.25s ease-out;
    left: 0px;
    top: 0px;
    opacity: 1;
}
   
.btn.item:not(.opened) {
   background-color: rgba(255, 255, 255, 0.5);
}
   
#center:hover {
    cursor: pointer;
    background-color: #e91e63;

    .menu {
        background-color: #ffffff !important;
    }
}
   
.btn.item {
    span:hover {
        cursor: pointer;
        background-color: #e91e63 !important;
        color: #ffffff !important;
    }
   
}
   
.btn.item  { 
    span {
        opacity: 0;
    }
}
   
.btn.item.opened {
    font-family: "open sans";   
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        opacity: 1;
        background-color: #ffc107;
        color: #000000;
        padding: 0 15px;
    }
}

#center.close {
    .menu.top {
        position: absolute;
        top: 40px;
        left: 50px;
        transform-origin: center left;
        transform: rotateZ(45deg);
        width: 70%;
    }

    .menu.bottom {
        position: absolute;
        bottom: 40px;
        left: 50px;
        transform-origin: center left;
        transform: rotateZ(-45deg);
        width: 70%;
    }

    .menu.middle {
        width: 0;
    }
}
   
@keyframes float_nav {
    0%,100% {
        top: 0px;
        left: 0px;
    }
    50% {
        top: -5px;
        left: 5px;
    }
}